/* Home Css */

body{
    font-family: "Poppins" !important;
}
.home-page .dsa-banner-sec .dsa-content .dsa-title{
    line-height: 1.5em;
}

.home-page .iba-box p{
    color: #FFF;
    font-family: "Poppins";
}

.home-page .iba-box .cont {
    padding: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}
.pt-0 {
    padding-top: 0;
}

.section-wrap {
    padding: 30px 0;
}

.section-wrap {
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.heading {
    position: relative;
    margin: 30px 0;
}

.uppercase {
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.contact-us h2 {
    font-size: 28px !important;
}

.heading-row {
    margin-bottom: 30px;
}

.contact-us h2 small {
    color: #244236;
}


.bottom-line:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    width: 100%;
    border-bottom: 1px solid #e8ebee;
}

.bottom-line:after {
    border-bottom: 2px solid #013302;
}

.bottom-line:after {
    content: "";
    display: block;
    width: 56px;
    border-bottom: 2px solid #18673e;
    margin: 12px auto 24px;
    z-index: 1;
    position: relative;
}
/* #d49925 */
.store_address_box{
    height: 260px;
    margin: 0 0 50px 0;
    padding: 20px;
    background: #F9E8C5;
    border-radius: 25px;
  }
  .store_address_box .store_title{
    font-size: 18px;
    color: #fd7e14;
    font-weight: 600;
    padding: 15px 0;
    border-bottom: 1px solid #cdcdcd;
  }
  .store_address_box .store_address{
    font-size: 14px;
    color: #000000;
    padding: 15px 0;
    height: 90px;
  }
  .store_address_box .store_phone{
    font-size: 16px;
    font-weight: 600;
    color: #fd7e14;
    padding: 15px 0;
  }
  .store_address_box .view_on_map{
    font-size: 14px;
    color: #fd7e14;
    text-decoration: underline;
    cursor: pointer;
  }

.contact-item {
    position: relative;
    padding-left: 36px;
    margin-top: 30px;
    font-size: 15px;
}
.contact-icon {
    position: absolute;
    left: 0;
}
.contact-icon i {
    font-size: 18px;
    color: #fd7e14;
    vertical-align: middle;
}

.contact-item p, .contact-item span {
    font-size: inherit;
}

.contact-us a {
    text-decoration: none;
    color: #d49925 !important;
    outline: none;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}


.sliding-link {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.sliding-link:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    -webkit-transition: width 0s ease, background 0.5s ease;
    -moz-transition: width 0s ease, background 0.5s ease;
    -ms-transition: width 0s ease, background 0.5s ease;
    -o-transition: width 0s ease, background 0.5s ease;
    transition: width 0s ease, background 0.5s ease;
}

.sliding-link:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: #18673e;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

.social-icons a {
    width: 30px;
    height: 30px;
    line-height: 29px;
    border-radius: 50px;
}

.social-icons a {
    margin: 0 3px 6px 0;
    display: inline-block;
    color: #979ba3;
    background-color: #fafcfc;
    text-align: center;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.error {
    color: #ff0000;
    font-size: 14px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="number"], input[type="date"], input[type="search"], select, textarea {
    height: 44px;
    border: 2px solid #e8ebee;
    background-color: transparent;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 16px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

textarea {
    height: auto;
    padding: 8px 16px;
    margin-bottom: 25px;
}

.contact-us .btn.btn-color {
    background-color: #d49925;
    color: #fff!important;
    padding: 10px!important;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    position: relative;
    letter-spacing: 0.14em;
    border: 2px solid transparent;
    
}

.achivement_section {
    padding: 11px 0;
    background-color: #F9E8C5;
}
.achivement_section .achivement .box {
    text-align: center;
}

.achivement-icon {
    width: 80px;
}

.achivement_section .achivement .box .numbers {
    font-size: 30px;
    font-weight: 700;
    color: #013302;
    padding: 0;
}

.achivement_section .achivement .box .text {
    font-size: 15px;
    font-weight: 600;
    color: #013302;
}

.review_section, .book_appointment_form {
    padding: 2% 0;
}

.review_section .review_box {
    width: 80%;
    margin: 0 auto;
}

.review_section .review {
    font-size: 22px;
    color: #000;
    text-align: center;
    line-height: 30px;
}

.review_section .name {
    font-size: 20px;
    float: right;
    color: #d49925;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 700;
}

.book_appointment_form .basic_info {
    text-align: center;
    margin-top: 0px;
}

.our_treatment_section {
    padding: 4% 0;
}

.f-size2em {
    font-size: 1.9em;
    color: #d49925;
}

.our_treatment_section .our_treatment .our_treatment_title {
    font-size: 24px;
    color: #013302;
    padding-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.our_treatment_section .our_treatment .type_row {
    padding-top: 35px;
}

.our_treatment_section .our_treatment .icon_box {
    width: 100%;
    height: 170px;
    float: left;
    padding: 35px 0;
    margin: 0 auto;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #F9E8C5;
}

.our_treatment_section .our_treatment .icon {
    text-align: center;
}

.our_treatment_section .our_treatment .icon-name {
    padding: 10px 0px;
    display: block;
    width: 100%;
    text-align: center;
    height: auto;
    /* color: #18673e; */
    font-weight: bold;
}

.sign_up_newsletter {
    padding: 4% 0;
    background: #F9E8C5;
}

.sign_up_newsletter .newsletter_box .title {
    font-size: 23px;
    color: #d49925;
    padding-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

label {
    font-weight: bold;
    color: #d49925;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    vertical-align: middle;
}

.sign_up_newsletter .newsletter_box .form_box input, .sign_up_newsletter .newsletter_box .form_box textarea {
    border: 2px solid #013302;
}

.clr {
    clear: both;
}

.count-padding {
    padding: 40px 10px;
}

.review_videos h3 {
    font-weight: bold;
    color: #d49925;
}

.section-wrap {
    padding: 30px 0;
}

.pb-50 {
    padding-bottom: 50px;
}

.section-wrap {
    padding: 90px 0;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.entry-item {
    margin-bottom: 7%;
    position: relative;
}

.entry-wrap {
    position: relative;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    /*border: 1px solid #e8ebee;*/
    padding: 30px;
}

.entry-meta {
    margin-bottom: 13px;
}

.entry-meta li {
    color: #acb0b8;
    font-size: 12px;
    /*font-style: italic;*/
    display: inline-block;
}

.entry-meta li:before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: #acb0b8;
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 7px 0 3px;
}

.blog-standard .post-content .entry-title {
    font-size: 28px;
    line-height: 40px;
}

.entry-title {
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 40px;
    color: #244236;
}

.entry-content p {
    margin-bottom: 13px;
    line-height: 1.8;
}

.entry-content p strong{
    color: #d49925;
}

.entry-meta li a {
    color: #acb0b8;
}

.entry-content img {
    height: 100% !important;
    width: 100% !important;
    vertical-align: middle;
}

.entry-content h2, .entry-content h3{
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 32px;
     color: #244236; 
}
.entry-content h3{
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 32px;
     color: #244236; 
}

.sidebar .widget-title {
    margin-bottom: 30px;
    font-size: 20px;
}

.heading {
    position: relative;
    margin: 30px 0;
    font-family: "Poppins";
}

.bottom-line:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    width: 100%;
    border-bottom: 1px solid #e8ebee;
}

.bottom-line.left-align:after {
    margin: 12px auto 24px 0;
}

.entry-list.w-thumbs ul > li {
    padding: 20px 0;
}

.entry-list ul > li .entry-title {
    font-size: 14px;
    margin-bottom: 1px;
    font-weight: normal;
    line-height: 1.5;
}

.entry-list ul > li:first-child {
    padding-top: 0 !important;
}

.entry-list ul > li {
    border-bottom: 1px solid #e8ebee;
}

.entry-list li .entry-meta {
    margin-top: 0;
    margin-bottom: 0;
}

.entry-list ul > li .entry-meta li:first-child {
    padding-left: 0;
}

.entry-list.w-thumbs ul > li {
    padding: 20px 0;
}

.entry-list ul > li:last-child {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

/* section.blog-list {
    background: #F9E8C5;
} */

h1, h2, h3, h4, h5 {
    font-family: "Poppins";
}

.sidebar .box h3 {
    color: #d49925;
}
.sidebar .box {
    background: #fff;
    /* background: #F9E8C5; */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.sidebar .ctgry-bx.box ul {
    max-height: 450px;
    overflow-y: scroll;
}

.sidebar .box ul {
    margin-top: 20px;
}

.sidebar .ctgry-bx.box ul li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
}

.sidebar .box ul li {
    margin-bottom: 9px;
    font-size: 16px;
}

.sidebar .ctgry-bx.box ul li a{
    color: #333;
}

.sidebar .ctgry-bx.box ul li:hover a {
    color: #d49925;
    outline: 0;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

.entry-wrap a{
    color: #d49925;
}

::-webkit-scrollbar-thumb {
    background: #d49925;
    background-color: #d49925;
    border-radius: 20px;
    height: 200px;
}

.right-cont .listings {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.right-cont .listings .list {
    max-width: 47%;
    background: #fff;
    margin-right: 3%;
    margin-bottom: 50px;
    position: relative;
    border: 2px solid #d49925;
    border-radius: 20px;
}

.right-cont .listings .list .image {
    position: relative;
}
.right-cont .listings .list .image img {
    width: 100%;
    margin-top: 10%;
}
.image img {
    max-width: 100%;
}

.right-cont .listings a{
    color: #244236;
    outline: 0;
    text-decoration: none;
}

.right-cont .listings .list .image h4 {
    position: absolute;
    top: 20px;
    left: 10px;
    background: #d49925;
    transition: 0.1s;
    padding: 6px 20px;
    border-radius: 30px;
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

.right-cont .listings .list .desc {
    padding: 0px 20px;
    margin-bottom: 50px;
}

.right-cont .listings .list .desc {
    min-height: 125px;
}

.right-cont .listings .list .desc h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    color: #d49925;
}

.right-cont .listings .list .desc .summry p:first-child {
    margin-right: 6px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

.right-cont .listings .list .desc .summry p:nth-of-type(2) {
    margin-right: 6px;
    border-right: 1px solid #ddd;
    padding-right: 10px;
}

.right-cont .listings .list .desc .summry p {
    font-size: 14px;
    display: inline-block;
    margin: 0;
}

.btn_outer {
    padding-left: 20px;
    position: absolute;
    bottom: 0px;
}

.listings .list .know-btn {
    padding-top: 30px;
    text-align: left;
    margin-bottom: 20px;
}

.know-btn {
    position: relative;
    clear: both;
}

.listings .list .know-btn.orange a {
    padding: 10px 30px;
}

.know-btn.orange a {
    background: #d49925;
    color: #fff;
    width: auto;
}

.know-btn a {
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.2s;
    font-size: 18px;
}

.highlighted a {
    color: #d49925 !important;
}

.entry-content table {
    width: 100%;
    text-align: center;
}

.content-single-author-profile-wrap {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    margin-bottom: 3rem;
}

.content-single-author-profile-wrap:before {
    position: absolute;
    content: "";
    height: 0.5px;
    background-color: #d49925;
    width: 100%;
    left: 0px;
    top: 0;
}

.content-single-author-profile-wrap .avatar-warp {
    margin-bottom: 1rem;
}

.content-single-author-profile-wrap .entry-title-wrap {
    margin-bottom: 1rem;
}


.content-single-author-profile-wrap .author-content-wrap .author-name {
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    color: #d49925;
}

.newh3
{
    font-size: 1.25rem;
    color: #244236;
}
.content-single-author-profile-wrap h4{
    color: #d49925;
}

.content-single-author-profile-wrap p {
    /* color: #d49925; */
    margin-bottom: 0;
}

.content-single-author-profile-wrap .author-about {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.content-single-author-profile-wrap:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #d49925;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.breadcrumb-item li.breadcrumb-li{
    display: inline-block;
    color: #acb0b8;
    font-size: 12px;
    
}
.breadcrumb-item li.breadcrumb-li a{
    color: #acb0b8;
    text-align: center;
}


img.doctor.img-fluid{
    width: 100% !important;
}


/*@media screen and (max-width:767px) {
    .home-page .dsa-banner-sec .dsa-content .dsa-title{
        font-size: 40px; 
    }
    .scrollable-nav-menu {
        height: auto;
        max-height: 500px;
        overflow-x: hidden;
    }
    .right-cont .listings .list .desc {
        min-height: 135px;
    }
}*/


/*@media screen and (max-width:991px) {
    .home-page .dsa-banner-sec .dsa-content .dsa-title{
        font-size: 17px; 
    }
}*/

.modal.fade.bd-example-modal-xl.show{
    top:7%;
}
.modal-con-area{
    background-image: url(../images/Dr-Ayurveda-Banner-new.webp);
}
.header-color{
    color: #244236;
}

.blog-tp-social-icon {
    display: flex;
    align-items: center;
    justify-content: start;
}

.blog-tp-social-icon a i {
    font-size: 20px;
    color: #234336;
    border: 1px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.entry-meta li:last-child:before {
    background-color: transparent;
  }

  
.entry-meta #social-links li:before{
    background-color: transparent;
}
div#social-links ul li a {
    background-color: transparent;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 30px;
    display: contents;
}

/* @media  (max-width: 1560px) {
    .main-sec{
        width:1519px;
        margin:auto;
    }
} */

.treatment:hover .icon_box {
    background-color: #979797!important;
}

.modal-dialog .container-fluid{
    width:100% !important;
}

.mb-10{
    margin-bottom: 10px;
}
.successtest .card-body
{
    padding: 5px 0px 5px 0px;
    border: 2px solid #e8ebee;
    margin-top: -7px;
    text-align: center;
}
.success-stories .successtest h2{
    font-size: 1.2rem;
}

.faqs ul li {
    padding: 10px 0px 2px 10px;
    margin-left: 3%;
}
table td:nth-child(1){ display:none;} 

table td:nth-child(2){border: 1px solid #333;} 

.section-head{
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2.5px;
    color: #212121;
}

iframe[src*="ads-iframe"] { display: none; }
iframe[sandbox]:not([sandbox=""]) {
    display: none !important;
}

.bd-example-modal-xl iframe[sandbox]:not([sandbox=""]){
    display: block !important;
}

.get-in-touch-sec iframe[sandbox]:not([sandbox=""]){
    display: block !important;
}

.slider {
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
}

.slider .photos {
    position: relative;
    height: 433px;
}

.slider .photos img {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.slider .photos img.shown {
    opacity: 1;
}

.prev:before,
.next:before {
  color: #fff;
  font-size: 100px;
  position: absolute;
  top: 35%;
  cursor: pointer;
}

.prev:before {
  content: '<';
  left: 0;
}

.next:before {
  content: '>';
  right: 0;
}

.footer-mobile {
    column-count: auto;
    background: #d49925;
    display: none !important;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

.footer-mobile ul.list-inline li {
    width: 18%;
}

.footer-mobile .list-inline{
    margin: 0px;
    width: 123%;
}

.footer-mobile .list-inline .list-inline-item a{
    color: #fff;
}

.online-consultation section.inner-banner-sec .container {
    height: 100%;
}

.online-consultation section.inner-banner-sec {
    min-height: 580px;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    padding: 00px 0;
    background-position: right;
}

body.mini-disease-page section.inner-banner-sec .content-inner {
    margin-top: 20px;
}

.online-consultation section.inner-banner-sec p, .phone-consult-page section.inner-banner-sec h1 {
    font-size: 28px;
    color: #fff;
    font-weight: 500;
    font-weight: 400;
    font-family: "Roboto";
    line-height: 1.2;
}

.online-consultation section.inner-banner-sec h2, section.inner-banner-sec h1, 
.online-consultation .online-consultation section.inner-banner-sec h1, 
.online-consultation .mini-disease-page .inner-banner-sec h3 {
    color: #fff;
    margin-top: -70px;
    font-size: 72px;
    line-height: 0.9;
    margin-bottom: 20px;
    font-weight: 100;
    text-transform: none;
}

.online-consultation .consult-btn.btnwicon {
    margin-top: 50px;
}

.online-consultation .consult-btn.btnwicon a:first-child {
    background: #fa670f;
    background-color: #d49925;
    margin-right: 10px;
}

.online-consultation .consult-btn.btnwicon a {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    background: #2ab200;
    font-size: 16px;
}

.online-consultation .consult-btn.btnwicon img {
    padding-left: 20px;
    margin-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    width: 44px;
    height: 22px;
    object-fit: contain;
}

.consult-btn a {
    background: white;
    padding: 20px 40px;
    /* border-radius: 30px; */
    font-size: 16px;
    color: #ab8572;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.2s;
    letter-spacing: 1px;
}

.online-consultation .consult-btn.btnwicon a.show-mobile {
    display: none;
}

.online-consultation .consult-btn.btnwicon a {
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    background: #2ab200;
    font-size: 16px;
}

.online-consultation .inner-btm .inner-image h2 {
    font-size: 1.5rem;
    padding: 20px 0px 20px 0px;
}

.bottom-video-banner {
    position: absolute;
    bottom: 0;
    margin-bottom: -18px;
}
.bottom-video-banner ul {
    background: rgba(255, 255, 255, 0.65);
    padding: 10px 10px;
}

.bottom-video-banner ul li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 0;
}

.bottom-video-banner ul li img {
    vertical-align: middle;
    margin-right: 5px;
}

body.inner-page.online-consultation .stickmenu {
    display: block;
}

.stickmenu {
    position: fixed;
    left: 0;
    background: #00652d;
    width: 100%;
    display: flex;
    top: 0;
    z-index: 999999;
    transform: translateY(-100%);
    transition: 0.2s;
    box-shadow: 5px 5px 20px #00000029;
}

.stickmenu .innerbx {
    width: calc(100% / 3);
}

.stickmenu .innerbx .icon {
    border-right: 1px solid rgba(221, 221, 221, 0.08);
    padding: 20px 30px;
    position: relative;
    padding-left: 70px;
}

.stickmenu .innerbx .icon img {
    position: absolute;
    left: 30px;
    top: 30%;
    width: auto;
}

.stickmenu .innerbx h5 {
    font-size: 16px;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    margin: 0;
}

.stickmenu .innerbx p {
    font-size: 16px;
    color: #fff;
    opacity: 0.7;
    font-weight: 300;
    margin: 0;
}

.head-bx {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.card-text {
    font-size: 14px;
    font-weight: 400;
}
.card-title{
    font-size: 16px;
}
.head-bx p, .head-bx p {
    font-size: 18px;
}

.disease-inner {
    /* width: 70%; */
    margin: auto;
}

.disease-inner .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.disease-inner .row .col {
    width: calc(100% / 5);
    padding: 0 6px;
    margin-bottom: 10px;
}

.disease-inner .row .col .inner {
    background: #08a34d;
    background-color: #F9E8C5;
    padding: 30px;
    border-radius: 20px;
    height: 100%;
}

.disease-inner .inner .icon {
    width: 70px;
    height: 60px;
}

.disease-inner .row .col .inner h4 {
    color: #244236;
    vertical-align: bottom;
    padding-top: 60px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    width: 80%;
    margin-bottom: 0;
    margin-left: 23px;
}
.map{
    background: #08a34d;
    background-color: #F9E8C5;
    padding: 30px;
    border-radius: 20px;
    height: 100%;
}

.map.raw01{
    background: #08a34d;
    background-color: #F9E8C5;
    padding: 30px;
    border-radius: 20px;
    height: 100%;
    margin-top: 30px;
}

section.why-drshardha {
    padding-top: 0;
    padding-bottom: 30px;
}

.banner {
    position: relative;
    z-index: -1;
    background: url(../images/ayurveda-consultation-background01.webp) no-repeat;
    min-height: 600px !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

.btm-drshardha-why {
    padding: 90px 60px;
    margin-top: -13%;
    position: relative;
    z-index: 9;
    background: #fff;
    box-shadow: 4px 8px 50px rgb(221 221 221 / 60%);
}

.head-bx {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.inner-btm {
    width: 90%;
    margin: auto;
}

.inner-btm .col-md-3 {
    padding: 0 6px;
}
.btm-drshardha-why .inner {
    background: #08a34d;
    background-color: #F9E8C5;
    padding: 40px 20px;
    border-radius: 20px;
}

.btm-drshardha-why .btm-line {
    text-align: center;
    margin-top: 40px;
}

.btm-drshardha-why .btm-line p {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
}

.btm-drshardha-why .inner h2 {
    color: #d49925;
    font-weight: 700;
    font-size: 60px;
}
.btm-drshardha-why .inner p {
    color: #244236;
    font-weight: 400;
}

.treat-yrself-sec {
    padding-bottom: 35px;
    padding-top: 20px;
}

.treat-yrself-sec .head-bx {
    margin-bottom: 35px;
}

.treatyrself-video-group > img {
    width: 100%;
    max-width: 100%;
}

.treatyrself-video-group {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.inner-offer {
    width: 90%;
    margin: auto;
}

.inner-offer .inner {
    position: relative;
}

.inner-offer .inner .content {
    position: absolute;
    bottom: -10px;
    z-index: 99;
    padding: 30px;
}

.inner-offer .inner img {
    width: 100%;
}

.inner-offer .inner::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    bottom: 0;
    left: 0;
    opacity: 0.8;
    border-radius: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0), hsl(0, 0%, 0%));
    transition: 0.4s;
}

.treatyrself-video-group .playicon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 130px;
    height: 130px;
    background-image: url(../images/treatyrself-video-playicon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.inner-offer .inner h4 {
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
}

section.how-video {
    padding-top: 40px;
    /* padding-bottom: 110px; */
}


.how-bg {
    position: relative;
    background: url(../images/Dr-Ayurveda-Banner-new-consultation.webp);
    background-size: contain;
    min-height: 808px;/* 860px */
    padding: 50px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #ececec;
}

.online-consultation .inner-offer .inner p {
    color: #fff;
    font-size: 12px;
}

.gradient-custom { 
    background-color: #F9E8C5; }

    #carouselDarkVariant .carousel-indicators [data-target] {
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }

    .carousel-dark .carousel-indicators [data-target] {
        background-color: #000;
    }

    #carouselDarkVariant .carousel-indicators [data-target] {
        border-radius: 50%;
        width: 10px;
        height: 10px;
    }

    .carousel-indicators [data-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 30px;
        height: 3px;
        padding: 0;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-clip: padding-box;
        border: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
    }

    .btn-appointment-common {
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Noto Sans", sans-serif;
        background-color: #e4a732;
        cursor: pointer;
        transition: all 0.5s ease;
        text-decoration: none !important;
        text-transform: uppercase;
        border: 1px solid #e4a732;
        width: 280px;
        height: 55px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .btn-appointment-common:hover {
        background-color: #234537;
        color: #fff;
        border: 1px solid #234537;
    }
    
    .carousel-control-prev-icon {
        width: 40px !important;
        height: 40px !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%333333' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
    }
    
    .carousel-control-next-icon {
        width: 40px !important;
        height: 40px !important;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%333333' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
    }
    .dsa-why-choose ul li a{
        text-decoration: none;
        /* color: #234537; */
    }

    a.online-consult {
        font-size: 18px;
        color: #FFF;
        top: 45%;
        padding: 10px 0 10px 10px;
        background: #e4a732;
        position: fixed;
        left: 0;
        box-shadow: 2px 0 5px #999;
        /* background: #e4a732 url(../images/consultation.png) no-repeat 5px 15px; */
        height: 220PX;
        width: 27px;
        animation: blinker 0.6s linear infinite;
        writing-mode: tb-rl;
        transform: rotate(180deg);
        /* animation: text 3s 1; */
        animation: showup 5s infinite;
        
    }
    a.online-consult:hover{
        text-decoration: none;
        color: #234336;
    }

    .apn .btn-appointment {
        color: #fff;
        border: 2px solid;
        padding: 10px 8px;
        font-weight: 500;
        width: 287px !important;
        height: 48px !important;
    }


    @keyframes reveal {
        0% {opacity:0;width:0px;}
        20% {opacity:1;width:0px;}
        30% {width:27px;}
        80% {opacity:1;}
        100% {opacity:0;width: 27px;}
    }
    

    @keyframes showup {
        0% {opacity:0;}
        20% {opacity:1;}
        80% {opacity:1;}
        100% {opacity:0;}
    }
    

    @keyframes text {
        0% {
            color: black;
            margin-bottom: -40px;
        }

        30% {
            letter-spacing: 25px;
            margin-bottom: -40px;
        }

        85% {
            letter-spacing: 8px;
            margin-bottom: -40px;
        }
    }

    section.breadcrumb-sec {
        background-color: #FEF8E6;
        padding-top: 11px;
    }
    
    .breadcrumb-sec .bread li{
        color: #333 !important;
    }

    .breadcrumb-sec .bread li a{
        color: #333 !important;
    }

.bg-texture {
    /* background: url(../images/pattern.png) rgba(0,0,0,0); */
    background-color: #f7f7f7;
}

.hs-line-1 {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    color: #d49925;
}

.alt-service-item.setheight {
    min-height: 190px;
}

.alt-service-item {
    margin: 10px 0;
    position: relative;
    padding-left: 115px;
    padding-top: 3px;
    font-size: 13px;
    font-weight: 300;
    color: #999;
    transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0);
    transition: all .3s cubic-bezier(0,0,.58,1);
}

.alt-service-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100px;
    font-size: 28px;
    color: #111;
    transition: all .17s cubic-bezier(0,0,.58,1);
}

.alt-service-icon, .alt-services-image, .home-bot-image {
    text-align: center;
}

.alt-services-title {
    margin: 0 0 10px;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
    color: #333;
}

.alt-services-desc {
    font-size: 15px;
    color: #333;
    text-align: justify;
    font-weight: 300;
}

.alt-services-more, .team-item-name {
    margin-top: 10px;
}
    
.blogs-style li{
    line-height: 2rem;
}
.card-header {
    padding: 0.5rem 0rem !important;
}
[data-toggle="collapse"].collapsed .fa:before {
    content: "\2795" !important;
    font-size: 13px;
    color: #244236;
}
[data-toggle="collapse"] .fa:before {
    content: "\2796" !important;
    font-size: 13px;
    color: #244236;
}
#accordion .fa, .card{
    border: none;
}
#accordion .btn-link, #accordion1 .btn-link, #accordion2 .btn-link, #accordion3 .btn-link, #accordion4 .btn-link, #accordion5 .btn-link {
    color: #fff !important;
    text-align: left;
}

.types-of-eczema .heading1 {
    font-size: 1.6rem !important;
    text-align: left !important;
    line-height: 40px;
}
.eczemaCategories ul{
    list-style-type: none;
    padding: 10px;
    font-size: 2 rem;
}
.eczemaCategories ul li{
    padding: 10px;
    font-weight: 600;
}
.eczemaCategories ul li a{
    color: #244236;
}
.li-format{
        padding: 0px 0px 10px 20px;
}
.li-format li{
    padding: 5px;
}
@media (min-width: 200px) {
    .entry-title {
        font-size: 30px;
        line-height: 35px;
    }

    .entry-content img {
        height: 135px;
        aspect-ratio: auto 135 / 135;
        width: 135px;
    }
    /* .banner{
        min-height: 204px !important;
        background-attachment: inherit !important;
        background-size: contain !important;
    } */
}

@media screen and (max-width: 320px) {
    .right-cont .listings .list {
        max-width: 100%;
    }
    .right-cont .listings .list .desc {
        min-height: 135px;
    }

    .right-cont .listings .list .image img {
        margin-top: 15%;
    }
    .footer-mobile {
        display: block !important;
    }

    .online-consultation .consult-btn.btnwicon a:first-child {
        width: 260px;
    }
    .banner{
        min-height: 204px !important;
        background-attachment: inherit !important;
        background-size: contain !important;
    }
    .online-consult{
        display: none;
    }
}

@media screen and (max-width:480px){
    .right-cont .listings .list {
        max-width: 100%;
    }
    .right-cont .listings .list .desc {
        min-height: 135px;
    }
    .right-cont .listings .list .image img {
        margin-top: 15%;
    }
    .footer-mobile {
        display: block !important;
    }
    .icon-video{
        top: 25% !important;
        margin-left: -45px;
        margin-top: -36px;
    }
    .banner{
        min-height: 204px !important;
        background-attachment: inherit !important;
        background-size: contain !important;
    }
    .online-consult{
        display: none;
    }
}

@media (max-width: 540px){
    .achivement_section {
        padding: 70px 0 50px;
    }
    .right-cont .listings .list {
        max-width: 100%;
    }
    .right-cont .listings .list .desc {
        min-height: 135px;
    }
    .right-cont .listings .list .image img {
        margin-top: 15%;
    }
    .footer-mobile {
        display: block !important;
    }
    .icon-video{
        top: 25% !important;
        margin-left: -45px;
        margin-top: -36px;
    }

    .phone-consult-page section.inner-banner-sec h1, .online-consultation section.inner-banner-sec h1, .panchakarma-page section.inner-banner-sec h1 {
        padding-top: 0 !important;
    }
    .online-consultation section.inner-banner-sec h2, section.inner-banner-sec h1, .online-consultation section.inner-banner-sec h2 {
        text-align: left;
        font-size: 30px !important;
        line-height: 43px;
    }
    section.inner-banner-sec p, .phone-consult-page section.inner-banner-sec h1 {
        font-size: 20px !important;
    }

    .online-consultation .consult-btn.btnwicon a:first-child {
        width: 260px !important;
        margin-right: 0px !important;
    }
    .bottom-video-banner ul {
        background: rgba(255, 255, 255, 0.65);
        padding: 0px 22px;
    }
    .online-consultation section.inner-banner-sec{
        background-image:none !important;
    }
    .banner{
        min-height: 204px !important;
        background-attachment: inherit !important;
        background-size: contain !important;
    }
    .online-consult{
        display: none;
    }
}

@media screen and (max-width:588px) {
    .doctor-mob-img{
        display: none;
    }
    .scrollable-nav-menu {
        height: auto;
        max-height: 500px;
        overflow-x: hidden;
    }

    .right-cont .listings .list {
        max-width: 100%;
    }
    .right-cont .listings .list .desc {
        min-height: 135px;
    }
    .right-cont .listings .list .image img {
        margin-top: 15%;
    }
    .footer-mobile {
        display: block !important;
    }
    .icon-video{
        top: 25% !important;
        margin-left: -45px;
        margin-top: -36px;
    }
    .bottom-video-banner ul {
        background: rgba(255, 255, 255, 0.65);
        padding: 0px 22px;
    }
    .online-consultation section.inner-banner-sec{
        background-image:none !important;
    }
    .online-consultation .consult-btn.btnwicon {
        margin-top: 35px;
        margin-bottom: 53px;
    }
    .online-consultation .head-bx h2 {
        font-size: 25px;
    }

    .online-consultation .disease-inner {
        width: 100% !important;
        margin: auto;
    }
    .online-consultation .disease-inner .row .col {
        width: 100% !important;
    }

    .online-consultation .btm-drshardha-why {
        padding: 10px 10px !important;
    }

    .online-consultation .head-bx p, .head-bx p {
        font-size: 16px !important;
    }

    .online-consultation .inner {
        padding: 20px 0px !important;
    }
    .online-consultation .inner-btm .col-md-3 {
        padding-bottom: 10px !important;
    }

    .online-consultation .disease-inner  .disbx {
        padding-bottom: 25px;
    }
    .li-format {
        padding: 10px 0px 0px 30px;
    }
.how-bg{
        min-height: 228px !important;
    }
    .banner{
        min-height: 204px !important;
        background-attachment: inherit !important;
        background-size: contain !important;
    }
}

@media screen and (min-width:768px) {
    /* .scrollable-nav-menu {
        height: auto;
        max-height: 500px;
        overflow-x: hidden;
    } */
    .right-cont .listings .list .desc {
        min-height: 135px;
    }
    .container-fluid {
        width: 750px !important;
    }
    
    
}

@media screen and (min-width:992px) {
    .container-fluid {
        width: 970px !important;
    }
    
}

@media (min-width: 1200px){ 
    .container-fluid {
        width: 1170px !important;
    }
    .blog-tp-social-icon{
        position: relative;
        left: 135%;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl{
        max-width: 1170px !important;
    }
}
@media only screen  and (min-width : 1360px) {
    .container-fluid {
        width: 1300px !important;
    }

    .dsa-banner-sec .dsa-content .dsa-title {
        font-size: 50px;
    }
    .blog-tp-social-icon{
        position: relative;
        left: 100%;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl{
        max-width: 1300px !important;
    }
}

@media only screen  and (min-width : 1530px) {
    .container-fluid {
        width: 1500px !important;
    }

    .dsa-banner-sec .dsa-content .dsa-title {
        font-size: 50px;
    }

    .blog-tp-social-icon{
        position: relative;
        left: 135%;
    }

    .container, .container-lg, .container-md, .container-sm, .container-xl{
        max-width: 1355px !important;
    }
}

@media (max-width: 1600px) and (min-width: 768px) {
    .treat-yrself-sec {
        padding-top: 60px;
        padding-bottom: 35px;
    }

    .treat-yrself-sec h2 {
        font-size: 42px;
    }

    .treat-yrself-sec .head-bx p {
        font-size: 20px;
    }
    .treatyrself-video-group {
        width: 100%;
        max-width: 850px;
    }
    .offer-sec {
        padding-top: 70px;
    }
}


@media (max-width: 1600px) {
    .treatyrself-video-group .playicon {
        width: 80px;
        height: 80px;
    }
}

