* {
    margin: 0px;
    padding: 0px;
}

.top-bar-sec {
    background-color: #d49925;
    padding: 6px;
    text-align: center;
}

/*///////carousel//////*/

.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out 0.3s;
    opacity: 0.2;
}

.slick-active {
    opacity: 0.5;
}

.slick-current {
    opacity: 1;
}

/*carousel end////////*/

.top-bar-sec p {
    font-size: 16px;
    line-height: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 0px;
}
.logo-img img {
    height: 119px;
    object-fit: cover;
}
.adj-height {
    text-align: left;
}

#more-content {
    display: none;
}

.btn-gen {
    font-size: 15px;
    color: #ffffff;
    font-family: "Noto Sans", sans-serif;
    background-color: #e4a732;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    border: 1px solid #e4a732;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding: 8px 10px 8px 10px;
}

.gen-title {
    font-size: 40px;
    line-height: 55px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
}
.xd:hover {
    opacity: 0.8;
    background-image: linear-gradient(45deg, #d49925, transparent);

    min-height: 400px;
}

.iba-box .xd {
    border-radius: 0px 50px 0px 50px;
}

.zfnz .xd {
    border-radius: 0px 50px 0px 34px;
}

.bread li a {
    color: #fff;
    text-decoration: none;
}

.bread li {
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    font-size: small;
}
.bread {
    list-style: none;
}
.breadcrumb-item.active {
    color: #ccc !important;
    font-weight: 100;
}

.service p {
    font-size: 37px;
    font-family: "Poppins";
    color: #fff;
}

.ser-heading {
    font-size: 50px;
    color: #fff;
    font-family: "Poppins";
    font-weight: 400;
}

.ser-heading-min {
    font-size: 22px;
    color: #fff;
    font-family: "Poppins";
    font-weight: 400;
}

small:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 1px;
    background-color: #fff;
    top: 11px;
    margin-left: -27px;
    opacity: 0.4;
}
small:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 19px;
    background-color: #fff;
    top: 12px;
    margin-left: 12px;
    opacity: 0.4;
}

.service small {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    position: relative;
}

/*slick slider start//////*/

/*slick slider end///////*/

.service {
    padding-top: 68px;
    padding-bottom: 50px;
}

.service {
    text-align: center;
}

.top-bar-sec .cust-new {
    width: calc(90% - 0px);
    margin: 0 auto;
}
.logo-sec {
    background-color: #fff;
    padding: 15px 0px;
}
.logo-sec .custom-logo-sec {
    display: flex;
    align-items: center;
    width: calc(96% - 0px);
    margin: 0 auto;
}
.logo-sec .custom-logo-sec .tp-social-icon {
    display: flex;
    align-items: center;
    justify-content: start;
}
.logo-sec .custom-logo-sec .tp-social-icon a i {
    font-size: 20px;
    color: #234336;
    border: 1px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.logo-sec .custom-logo-sec .tp-social-icon a {
    text-decoration: none;
    transition: all 0.5s ease;
}
.logo-sec .custom-logo-sec .tp-social-icon a:hover i {
    color: #d39923;
}
.logo-sec .custom-logo-sec .logo-img {
    text-align: center;
}
.logo-sec .custom-logo-sec .search-container {
    text-align: right;
    position: relative;
}
.logo-sec .custom-logo-sec .search-container input[type="text"] {
    font-size: 14px;
    padding: 15px 50px 15px 20px;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #f6f6f6;
    background: #f6f6f6;
    color: #000;
    position: relative;
    outline: none;
}

.ima {
    height: 457px;
    object-fit: cover;
}

.cvn p {
    padding-left: 0px;
}

.sym h3 {
    margin-bottom: 15px;
}

.logo-sec .custom-logo-sec .search-container button {
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #234537;
    border: 0px;
    padding: 13px 20px;
    color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navbar-menu {
    background-color: #d49925;
    transition-delay: all 0.5s ease;
}

.navbar-menu .phone-btn:hover {
    background-color: #234537;
}

.nvi {
    width: 28%;
    float: left;
    margin: 8px;
}

.nvi img {
    width: 100%;
    height: 92px;
    object-fit: contain;
}

.mbtn {
    text-align: end;
}

.mob-nav .tp-social-icon a {
    font-size: 21px;
    padding: 0px 7px;
    color: #234336;
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 5px;
}
.mob-nav .tp-social-icon {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nvi .fa-search {
    position: relative;
    /*left: 44px;*/
    top: 14px;
}
.nvi button {
    border: none;
    background-color: transparent;
    font-size: 25px;
}

.navbar-menu .phone-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
    background-color: #eeb03f;
    padding: 16px 22px;
    font-size: 18px;
    line-height: 14px;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins";
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.navbar-menu .nav-item {
    padding: 10px 2px;
}
.navbar-menu .phone-btn .fa-phone {
    margin-right: 10px;
    font-weight: 700;
}
.navbar-menu .cut-nav-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(90% - 0px);
    margin: 0 auto;
}
.navbar-menu .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 16px;
    line-height: 14px;
    color: #ffffff !important;
    font-weight: 400;
    font-family: "Poppins";
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.navbar-menu .navbar-expand-lg .navbar-nav .active .nav-link {
    font-weight: 600 !important;
}
.navbar-menu .navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #d49925 !important;
    color: #fff;
}
.navbar-menu .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    font-size: 18px;
    color: #ffffff !important;
    font-weight: 400;
    font-family: "Poppins";
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-align: left;
}
.navbar-menu .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-menu .navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
    text-decoration: none;
    background-color: #eeb03f;
}
.sticky_header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}
@media (min-width: 992px) {
    .navbar-menu .navbar-expand-lg .navbar-nav {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .navbar-menu .navbar {
        padding: 0px;
    }
    .navbar-menu .dsa-phone {
        display: flex;
        justify-content: end;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media screen and (max-width: 1400px) {
    .wrp .mz {
        height: 421px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1440px) {
    .wrp .mz {
        height: 421px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1366px) {
    .navbar-menu .navbar {
        padding: 0px;
        width: 78%;
        float: left;
    }

    .wrp .mz {
        height: auto;
    }
    .navbar-menu .dsa-phone {
        width: 22%;
        float: left;
        display: flex;
        justify-content: end;
    }
    .navbar-menu .navbar-expand-lg .navbar-nav {
        display: flex;
        /*justify-content: start;*/
        align-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-menu .dsa-phone {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .navbar-menu .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 4px;
        padding-left: 4px;
    }
    .dsa-why-choose .why-choose-us {
        width: 90%;
    }

    .dr-mukesh-sharda-sec .dr-img-left img {
        position: inherit;
    }

    .treatment-box h3 {
        font-size: 20px;
    }

    .treatment-box {
        margin-left: 12px;
    }

    .dsa-banner-sec .cust-dsa-banner {
        width: calc(95% - 0px);
    }
    .dsa-why-choose {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .dsa-india-ayurvedic-sec {
        padding-bottom: 50px;
    }
    .pl-ayurvedic-treatment-sec,
    .about-us-sec,
    .our-product,
    .client-testimonial {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about-us-sec .btn-about .btn-aboutus {
        width: 180px;
        height: 65px;
    }
    .happy-world-sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .get-in-touch-sec {
        padding-top: 130px;
        padding-bottom: 50px;
    }
    .dsa-why-choose .cut-row,
    .dsa-india-ayurvedic-sec .cust-iba,
    .pl-ayurvedic-treatment-sec .cst-pl-row,
    .about-us-sec .custum-row,
    .our-product .cust-product,
    .latest-post-sec .custom-lp,
    .dr-mukesh-sharda-sec .cust-dr {
        width: calc(100% - 0px);
    }
    .get-in-touch-sec .custom-get {
        width: calc(98% - 0px);
    }
    .dsa-foo-sec .foo-address-box p,
    .dsa-foo-sec .foo-logo p {
        font-size: 16px;
        line-height: 25px;
    }
    nav.foo-navbar .navbar-nav .nav-link {
        font-size: 16px;
    }
    .get-in-touch-sec .custom-get .email .email-icon,
    .get-in-touch-sec .custom-get .phone-icon {
        font-size: 18px;
    }

    .navbar-menu .phone-btn {
        font-size: 16px;
    }
    .top-bar-sec .cust-new,
    .logo-sec .custom-logo-sec,
    .logo-sec .custom-logo-sec,
    .navbar-menu .cut-nav-row {
        width: calc(100% - 0px);
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .logo-sec .custom-logo-sec .tp-social-icon {
        justify-content: center;
        margin-bottom: 20px;
    }

    .dsa-banner-sec2 {
        background-size: cover !important;
    }

    .logo-sec .custom-logo-sec .search-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/*Banner section style here*/
.dsa-banner-sec {
    background-image: url(../images/Dr-Ayurveda-Banner-new.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 50px;
}

.dsa-banner-sec2 {
    background-image: url(../images/ban.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.dsa-banner-sec .cust-dsa-banner {
    width: calc(92% - 0px);
    margin: 0 auto;
}
.dsa-banner-sec .dsa-content {
    padding-top: 120px;
    padding-bottom: 120px;
}
.dsa-banner-sec .dsa-content .dsa-sub-heading {
    font-size: 60px;
    line-height: 83px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.dsa-banner-sec .dsa-content .dsa-title {
    font-size: 60px;
    line-height: 83px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}
.dsa-banner-sec .dsa-content p {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    line-height: 82px;
}
.dsa-banner-sec .dsa-content .btn-banner {
    width: 100%;
    margin-top: 30px;
}
.dsa-banner-sec .dsa-content .btn-banner .btn-appointment {
    font-size: 20px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    background-color: #e4a732;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    border: 1px solid #e4a732;
    width: 300px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.dsa-banner-sec .dsa-content .btn-banner .btn-appointment:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}
.dsa-banner-sec .right-img {
    text-align: right;
    margin-right: 43;
}
.dsa-banner-sec .right-img .doctor {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Why choose us section style here*/
.dsa-why-choose {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.dsa-why-choose .cut-row {
    width: calc(95% - 0px);
    margin: 0 auto;
    /* display: flex;
         align-items: center;*/
}

.adj-height p:nth-child(2) {
    margin-bottom: 0px;
}

.dsa-why-choose .why-choose-us {
    width: 98%;
}
.dsa-why-choose h2 {
    font-size: 2rem;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}
.dsa-why-choose p {
    font-size: 16px;
    line-height: 30px;
    color: #201d1d;
    font-weight: 300;
    font-family: "Poppins";
}
.dsa-why-choose ul {
    margin-bottom: 0px;
}
.dsa-why-choose ul li {
    font-size: 16px;
    line-height: 35px;
    color: #201d1d;
    font-weight: 300;
    font-family: "Poppins";
    list-style: none;
    padding-left: 20px;
    position: relative;
}
.dsa-why-choose ul li::before {
    font-family: "FontAwesome";
    font-weight: 400;
    content: "\f105";
    position: absolute;
    left: 0;
    font-size: 24px;
    color: #244236;
}
/*India best ayurvedic section style here*/
.dsa-india-ayurvedic-sec {
    padding-bottom: 2rem;
}
.dsa-india-ayurvedic-sec h2 {
    font-size: 35px;
    line-height: 44px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.dsa-india-ayurvedic-sec .cut-row {
    width: calc(90% - 0px);
    margin: 0 auto;
}
.dsa-india-ayurvedic-sec .cust-iba {
    width: calc(90% - 20px);
    margin: 0 auto;
}
.dsa-india-ayurvedic-sec .cust-iba .iba-box {
    padding: 0px;
    min-height: 400px;
    transition: all 0.5s ease;
}
.dsa-india-ayurvedic-sec .cust-iba .iba-box:hover {
    transition: all 0.5s ease;
    transform: translate(0, -10px);
}
.dsa-india-ayurvedic-sec .cust-iba .box1 {
    background-image: url(../images/iba-bg1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fattyliver-sec .cust-iba .box1{
    background-image: url(../images/alcoholic-fatty-liver.webp);
}

.dsa-india-ayurvedic-sec .cust-iba .box4 {
    background-image: url(../images/serv-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dsa-india-ayurvedic-sec .cust-iba .box5 {
    background-image: url(../images/serv-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dsa-india-ayurvedic-sec .cust-iba .box5a {
    background-image: url(../images/serv-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dsa-india-ayurvedic-sec .cust-iba .box2 {
    background-image: url(../images/Rheumatoid-Arthritis.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dsa-india-ayurvedic-sec .cust-iba .box3 {
    background-image: url(../images/Diabetes.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dsa-india-ayurvedic-sec .cust-iba .iba-box .wht-space {
    height: 229px;
}
.dsa-india-ayurvedic-sec .cust-iba .iba-box h3 {
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}

.dsa-india-ayurvedic-sec .cust-iba .iba-box h4{
    line-height: 40px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}
.dsa-india-ayurvedic-sec .cust-iba .iba-box .about-us-sec {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    font-family: "Poppins";
}
.dsa-india-ayurvedic-sec .btn-ayurvedic {
    text-align: center;
    margin-top: 50px;
}
.dsa-india-ayurvedic-sec .btn-ayurvedic .btn-appointment {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff !important;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    background-color: #e4a732;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #e4a732;
    width: 280px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.dsa-india-ayurvedic-sec .btn-ayurvedic .btn-appointment:hover {
    background-color: #234537;
    color: #fff;
    border: 1px solid #234537;
}
.btn-ayurvedic .btn-appointment:hover
{
    background-color: #234537;
    color: #fff;
    border: 1px solid #234537;
}   


/*Personalised Ayurvedic Treatment section style here*/
.pl-ayurvedic-treatment-sec {
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pl-ayurvedic-treatment-sec .pl-tp-content h2 {
    font-size: 35px;
    line-height: 55px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}

.pl-ayurvedic-treatment-sec .pl-tp-content p {
    font-size: 16px;
    line-height: 29px;
    color: #201d1d;
    font-weight: 300;
    font-family: "Poppins";
    text-align: center;
    width: 61%;
    margin: 0 auto;
}
.pl-ayurvedic-treatment-sec .cst-pl-row {
    width: calc(90% - 0px);
    margin: 0 auto;
}
.pl-ayurvedic-treatment-sec .cst-boxies {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.pl-ayurvedic-treatment-sec .cst-boxies .treatment-box h3 {
    font-size: 24px;
    line-height: 30px;
    color: #244236;
    font-weight: 600;
    font-family: "Poppins";
    margin-top: 20px;
}

.treatment-box img {
    height: 72px;
    object-fit: cover;
}

.pl-ayurvedic-treatment-sec .cst-boxies .treatment-box p {
    font-size: 17px;
    line-height: 30px;
    color: #181616;
    font-weight: 300;
    font-family: "Poppins";
    text-align: center;
}
/*About us section style here*/
.about-us-sec {
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-us-sec iframe {
    border: 0px;
    max-width: 100%;
    width: calc(100% - 40px);
}
.about-us-sec .custum-row {
    width: calc(90% - 0px);
    margin: 0 auto;
}
.about-us-sec .tp-abt-content h2 {
    font-size: 40px;
    line-height: 55px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}
.about-us-sec .tp-abt-content p {
    font-size: 16px;
    line-height: 35px;
    color: #201d1d;
    font-weight: 300;
    font-family: "Poppins";
    text-align: center;
}
.about-us-sec .about-right-content p {
    font-size: 14px;
    line-height: 28px;
    color: #201d1d;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom: 5px;
}
.about-us-sec .about-right-content .btn-about {
    margin-top: 30px;
}
.about-us-sec .btn-about .btn-aboutus {
    font-size: 15px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    background-color: #e4a732;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #e4a732;
    width: 180px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.about-us-sec .btn-about .btn-aboutus:hover {
    background-color: #234537;
    color: #fff;
    border: 1px solid #234537;
}
/*Happy world section style here*/

.happy-world-sec {
    background-image: url(../images/world-happy-bg.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 60px;
}
.happy-world-sec .hw-content {
    text-align: center;
}
.happy-world-sec .hw-content h2 {
    font-size: 60px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    margin-top: 30px;
    margin-bottom: 20px;
}
.happy-world-sec .hw-content p {
    font-size: 35px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 0px;
}

.tab-content p::before {
    content: "";
    position: relative;
    bottom: -5px;
    border: 2px solid green;
    right: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: transparent !important;
    color: #244236 !important;
    font-size: 16px;
    font-weight: 500 !important;
}

.nav-pills a {
    color: #212529 !important;
}

#v-pills-tab a {
    line-height: 46px;
}

/*dr mukesh sharda section style here*/

.dr-mukesh-sharda-sec {
    padding-top: 50px;
    background-color: #f7f7f7;
}
.dr-mukesh-sharda-sec .cust-dr {
    width: calc(90% - 0px);
    margin: 0 auto;
}
.dr-mukesh-sharda-sec p {
    font-size: 16px;
    line-height: 42px;
    color: #244236;

    font-family: "Poppins";
    margin-bottom: 30px;
}
.dr-mukesh-sharda-sec .dr-img-left img {
    /*position: absolute;*/
    bottom: 0px;
}
.dr-mukesh-sharda-sec .sign-area {
    float: right;
}
.dr-mukesh-sharda-sec .sign-area p {
    font-style: italic;
}
/*Our Product section style here*/
.our-product {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.prod-tp-content {
    margin-bottom: 50px;
    line-height: 2;
}
.heading1.our-product .prod-tp-content h2 {
    font-size: 40px;
    line-height: 55px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}
.our-product .prod-tp-content p {
    font-size: 16px;
    line-height: 35px;
    color: #201d1d;
    font-weight: 300;
    font-family: "Poppins";
    text-align: center;
}
.our-product .cust-product {
    width: calc(90% - 0px);
    margin: 0 auto;
}
.our-product .cust-product .prod-box {
    width: calc(95% - 20px);
    margin: 0 auto;
    padding: 40px;
    box-shadow: 1px 2px 14px #eee;
    text-align: center;
    transition: all 0.5s ease;
}
.our-product .cust-product .prod-box:hover {
    transition: all 0.5s ease;
    transform: translate(0, -10px);
}
.our-product .cust-product .prod-box .price {
    padding: 35px 18px;
    margin-bottom: 0px;
    text-align: left;
    border-top: 1px solid #eee;
    margin-top: 40px;
    list-style: none;
}
.our-product .cust-product .prod-box .price .brand-name {
    font-size: 15px;
    line-height: 25px;
    color: #767676;
    font-weight: 400;
    font-family: "Poppins";
}
.our-product .cust-product .prod-box .price .header {
    font-size: 20px;
    line-height: 35px;
    color: #244236;
    font-weight: 600;
    font-family: "Poppins";
}

.phone-consult img {
    width: 40px;
    padding: 3px;
    position: relative;
    top: -5px;
}

.phone-consult {
    margin-bottom: 22px;
}

.sub img {
    width: 18px;
    margin-left: -25px;
    margin-right: 5px;
}

.im3 img {
    width: 18px;
    margin-left: -28px;
    margin-right: 13px;
}

.consult-ico {
    font-size: 20px;
    line-height: 33px;
    color: #244236;
    font-weight: 500;
    font-family: "Poppins";
}

.consult-ico:hover {
    color: #244236;
}

.crsem {
    margin-top: -42px;
}

.phone-consult span {
    font-size: 32px;
    border: 1px solid;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 10px;
    position: relative;
    top: 13px;
    display: inline-block;
    text-align: center;
}

.our-product .cust-product .prod-box .price .rate {
    font-size: 30px;
    line-height: 35px;
    color: #244236;
    font-weight: 600;
    font-family: "Poppins";
}
.our-product .cust-product .prod-box .price .rating {
    padding-top: 20px;
    padding-bottom: 20px;
}
.our-product .cust-product .prod-box .price .rating .checked {
    color: orange;
}
.our-product .cust-product .prod-box .price .btn-shop-know {
    font-size: 20px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    background-color: #e4a732;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #e4a732;
    width: 150px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.our-product .cust-product .prod-box .price .btn-shop-know:hover {
    background-color: #234537;
    color: #fff;
    border: 1px solid #234537;
}

/*Testimonial section style here*/
.client-testimonial {
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*background-color: #f7f7f7;*/
    overflow: hidden;
}
.cl-test {
    position: relative;
    width: 100%;
}

.cl-test .cl-suedo {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 164px;
    color: #eceeed;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    z-index: 1;
    top: -95px;
    text-transform: uppercase;
}
.client-testimonial .client-test-title {
    font-size: 40px;
    line-height: 55px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    margin-bottom: 0px;
    z-index: 2;
    position: relative;
}

.client-testimonial .testimonial-content img {
    width: 150px !important;
    border-radius: 50%;
    margin: 0 auto;
}
.testimonial-content {
    text-align: center;
}
.testimonial-content ul li {
    list-style: none;
}
.testimonial-content ul li .checked {
    color: orange;
    font-size: 25px;
    padding-top: 20px;
}
.testimonial-content h3 {
    font-size: 25px;
    line-height: 25px;
    color: #244236;
    font-weight: 600;
    font-family: "Poppins";
}
.testimonial-content p {
    font-size: 20px;
    line-height: 35px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    width: 69%;
    margin: 0 auto;
}

.iba-box.box1 {
    border-radius: 0px 50px 0px 50px;
}

.iba-box.box2 {
    border-radius: 0px 50px 0px 50px;
}

.iba-box.box3 {
    border-radius: 0px 50px 0px 50px;
}

.abt-us .iba-box.box1, .abt-us .iba-box.box2, .abt-us .iba-box.box3  {
    border-radius: 0px 25px 0px 25px;
    min-height: 400px;
}
.abt-us .cust-iba .iba-box .wht-space, .abt-us .cust-iba .iba-box .wht-space{
        height: auto;
    margin: 0 auto;
    width: 65%;
    padding: 20px;
}
.abt-us .iba-box .xd {
    border-radius: 0px 25px 0px 25px;
    min-height: 520;
}

.abt-us .cust-iba .psor1, .abt-us .cust-iba .psor2 , .abt-us .cust-iba .psor3{
    background-color: #244236;
    background-image: none !important;
}
.abt-us .xd:hover {
    background-color: #e4a732;
}

.abt-us  h2 {
    font-size: 33px;
    line-height: 43px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

#client-test .owl-dots {
    text-align: center;
    margin-top: 40px;
}
#client-test .owl-dot {
    background: #d4992559;
    margin-right: 4px;
    padding: 1px 25px !important;
}
#client-test .owl-dot.active {
    background: #d49925;
}

/*Latest post section style here*/
.latest-post-sec {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.latest-post-sec .lp-content {
    margin-bottom: 20px;
}
.latest-post-sec .lp-content h2 {
    font-size: 40px;
    line-height: 55px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}
.latest-post-sec .lp-content p {
    font-size: 18px;
    line-height: 35px;
    color: #201d1d;
    font-weight: 300;
    font-family: "Poppins";
    text-align: center;
}
.latest-post-sec .custom-lp {
    width: calc(90% - 0px);
    margin: 0 auto;
}
.latest-post-sec .custom-lp img {
    width: 100%;
}
.latest-post-sec .lp-post {
    background-color: #244236;
    width: calc(100% - 20px);
    margin: 0 auto;
    transition: all 0.2s ease;
    border-radius: 0px 0px 0px 42px;
}
.latest-post-sec .lp-post:hover {
    background-color: #e4a732;
    transition: all 0.5s ease;
    transform: translate(0, -10px);
}
.latest-post-sec .lp-post .post-content {
    padding: 23px;
}
.latest-post-sec .lp-post .post-content h3 {
    font-size: 19px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}
.latest-post-sec .lp-post .post-content p {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Poppins";
}
.latest-post-sec .lp-post .post-content .ptn-post {
    font-size: 18px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    text-decoration: none;
    cursor: pointer;
}
.fa-quote-left {
    color: #d49925;
    font-size: 40px;
}
.fa-quote-right {
    color: #d49925;
    font-size: 40px;
}
.latest-post-sec .lp-post .post-content .ptn-post:hover {
    color: #fff;
    text-decoration: none;
}
/*Get in touch section here*/
.get-in-touch-sec {
    padding-top: 20px;
    padding-bottom: 50px;
    background: #f7f7f7;
}
.get-in-touch-sec .custom-get {
    width: calc(85% - 0px);
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.get-in-touch-sec .custom-get h2 {
    font-size: 40px;
    line-height: 55px;
    color: #244236;
    font-weight: 600;
    font-family: "Poppins";
    text-align: left;
}
.get-in-touch-sec .custom-get p {
    font-size: 20px;
    line-height: 33px;
    color: #211f1f;
    font-weight: 300;
    font-family: "Poppins";
    width: 90%;
}
.get-in-touch-sec .custom-get .email .email-icon {
    font-size: 20px;
    line-height: 33px;
    color: #244236;
    font-weight: 500;
    font-family: "Poppins";
}
.get-in-touch-sec .custom-get .email .email-icon .fa-envelope,
.get-in-touch-sec .custom-get .phone-icon .fa-phone {
    font-size: 35px;
    border: 1px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-top: 14px;
    margin-right: 10px;
    text-align: center;
}
.get-in-touch-sec .custom-get .phone-icon {
    font-size: 20px;
    line-height: 33px;
    color: #244236;
    font-weight: 500;
    font-family: "Poppins";
}
.get-in-touch-sec .custom-get .email {
    padding-top: 60px;
    margin-bottom: 40px;
}

.get-in-touch-sec .get-form {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 59%);
}
.get-in-touch-sec .get-form h3 {
    font-size: 30px;
    line-height: 55px;
    color: #244236;
    font-weight: 600;
    font-family: "Poppins";
}
.get-in-touch-sec .get-form #name,
.get-in-touch-sec .get-form #phone,
.get-in-touch-sec .get-form #email {
    font-size: 20px;
    line-height: 19px;
    color: #244236;
    font-weight: 300;
    font-family: "Poppins";
    width: 100%;
    height: 70px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #c7c7c7;
}

.fp {
    margin-bottom: -18px;
}

.psr .dv {
    width: 49%;
}

.psr {
    width: calc(95% - 0px);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brd {
    height: 1px;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ln {
    color: #fff;
}

.fa-map-marker {
    color: #d49925;
    font-size: 21px !important;
    position: relative;
    right: 6px;
}

.csr {
    position: relative;
    left: 9px;
}

/* .caso::after {
    content: "";
    position: absolute;
    width: 0.3px;
    height: 132px;
    background-color: #f3f3f3 !important;
    top: 19px;
    bottom: 4px;
    left: 251px;
    right: 0px;
    opacity: 0.1;
}

.caso-1::after {
    content: "";
    position: absolute;
    width: 0.3px;
    height: 132px;
    background-color: #f3f3f3 !important;
    top: 19px;
    bottom: 4px;
    left: 273px !important;
    right: 0px;
    opacity: 0.1;
} */

.crd a {
    font-size: 20px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    background-color: #e4a732;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    border: 1px solid #e4a732;
    max-width: 300px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
}

.cses li {
    color: #666;
    line-height: 62px;
    font-weight: 500;
}

.cses ul li {
    list-style: none;
}

.causes {
    padding-top: 2rem;
    padding-bottom: 0px;
}

.sym span {
    font-weight: 500;
    color: #234537;
}

.sub {
    font-family: "Poppins";
    margin-bottom: 1px;
    font-size: 17px;
    font-weight: 500;
    color: #234537;
}

.aft {
    margin-left: -20px;
    margin-right: 4px;
}

.kmoz {
    float: left;
    width: 51%;
    /*height: 396px;*/
}

/*.costa iframe {
    width: 809px;
    height: 419px;
}*/

.wrp .moz {
    float: right;
    width: 51%;
    height: 421px;
}

#accordion .card-header {
    border-bottom: 0px solid rgba(0, 0, 0, 0.125) !important;
}

button.btn.btn-link:focus-visible {
    outline: none !important;
}

button.btn.btn-link:focus {
    border: 0px solid !important;
    outline: none !important;
    box-shadow: none !important;
}

#accordion .card {
    border: 0px solid transparent !important;
}

button.btn.btn-link:hover {
    text-decoration: none !important;
}

button.btn.btn-link.collapsed:hover {
    text-decoration: none !important;
}

.btn-link {
    color: #212529 !important;
    text-decoration: none;
    font-family: "Poppins" !important;
    font-size: 16px !important;
}

#accordion .fa {
    font-size: 31px;
    color: #eeb03f;
    border: 1px solid;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.provider img {
    border: 1px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-left: 15px;
    padding-top: 14px;
    margin-right: 10px;
}

[data-toggle="collapse"] .fa:before {
    content: "\f107" !important;
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f106";
}

[data-toggle="collapse"] .fa:before {
    content: "\f107";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f106" !important;
}

#accordion .card-body:before {
    content: "";
    position: absolute !important;
    width: 2px !important;
    height: 155px !important;
    background-color: #eeb03f !important;
    left: 44px !important;
}
#accordion .card-body {
    position: relative !important;
    padding-left: 77px !important;
}

.wrp .mz {
    padding: 41px;
}

.moz iframe {
    width: 100%;
    height: 421px;
    opacity: 0.4;
}

.mz i {
    color: #fff;
}
.mz p {
    font-size: 16px;
    line-height: 30px;
    color: #201d1d;
    font-weight: 300;
    font-family: "Poppins";
}
.mz h3 {
    font-size: 26px;
    color: #244236;
    font-family: "Poppins";
    font-weight: 300;
    margin-bottom: 24px;
}
.wrp .mz {
    width: 49%;
    float: left;
    padding: 27px;
}
.wrp .mz-adv {
    width: 100%;
}
iframe {
    width: 100%;
}
.wrp {
    width: 100%;
}

.flx .mx {
    width: 100%;
}

.cvn {
    width: 49%;
    float: left;
    padding-left: 44px;
    line-height: 2;
}

.flx {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-nav {
    display: none;
}

.sym h3 {
    font-size: 32px;
    color: #244236;
    font-weight: 400;
    font-family: "Poppins";
}

.ancr a {
    color: #244236;
    font-family: "Poppins";
    font-weight: 500;
    border-bottom: 1px solid #244236;
    text-decoration: none !important;
}
.costa img {
    max-width: 687px;
}

.cot {
    width: 49%;
    float: left;
}
.mcot {
    width: 49%;
    float: right;
}

.split {
    clear: both;
}

.apn a {
    color: #fff;
    border: 2px solid;
    padding: 14px 24px;
    font-weight: 500;
}
.apn {
    padding-top: 35px;
    padding-bottom: 35px;
}

.acc {
    text-align: end;
    color: #fff;
    font-family: "Poppins";
    font-size: 21px;
    font-weight: 400;
    padding-top: 35px;
    padding-bottom: 35px;
}
.fa-arrow-right {
    color: #244236;
}

.ndv::after {
    content: "";
    position: absolute;
    height: 26px;
    width: 5px;
    background-color: green;
    top: 10px;
    left: -39px;
}
.ndv {
    position: relative;
}

.cses p {
    font-family: "Poppins";
    line-height: 31px;
    font-size: 16px;
    position: relative;
}

.serlisting li a {
    color: #2e2e2e;
    padding: 8px 11px;
    font-size: 17px;
    text-decoration: none;
}

.serlisting .ln {
    color: #2e2e2e;
    font-size: 17px;
}

.serlisting li a:hover {
    color: #d49925;
}

.serlisting li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
}

.serlisting {
    text-align: center;
}

.listing li a {
    color: #fff;
    padding: 8px 11px;
    font-size: 13px;
    text-decoration: none;
}

.listing li a:hover {
    font-weight: 500;
}

.listing li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
}

.get-in-touch-sec .get-form #story {
    font-size: 20px;
    line-height: 19px;
    color: #244236;
    font-weight: 300;
    font-family: "Poppins";
    width: 100%;
    padding: 20px;
    height: 150px;
    margin-bottom: 20px;
    border: 1px solid #c7c7c7;
    resize: none;
}
.get-in-touch-sec .get-form .submit {
    font-size: 30px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    background-color: #e4a732;
    width: 100%;
    height: 65px;
    text-transform: uppercase;
    border: 1px solid #e4a732;
    transition: all 0.5s ease;
}
.get-in-touch-sec .get-form .submit:hover {
    background-color: #244236;
    border: 1px solid #244236;
}

.copy {
    font-size: 13px;
}

/*Footer content style here*/
footer.dsa-foo-sec {
    background-image: url(../images/world-happy-bg.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
}
.dsa-foo-sec .foo-social-icon {
    text-align: right;
    display: flex;
    justify-content: end;
    align-items: center;
    align-items: center;
    width: calc(90% - 0px);
    margin: 0 auto;
}
.dsa-foo-sec .foo-social-icon a i {
    font-size: 20px;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.dsa-foo-sec .foo-social-icon a {
    text-decoration: none;
    transition: all 0.5s ease;
}
.dsa-foo-sec .foo-social-icon a:hover i {
    color: #d39923;
}

.dsa-foo-sec .foo-logo {
    text-align: center;
}
.dsa-foo-sec .foo-logo .cp-logo {
    width: 175px;
}
.dsa-foo-sec .foo-logo p {
    text-align: center;
    font-size: 18px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Poppins";
    text-align: center;
    margin-top: 20px;
}

header .navbar-nav .nav-item .nav-link:hover {
    color: #233f35 !important;
}

.dsa-foo-sec .cust-address {
    padding-top: 30px;
    padding-bottom: 30px;
    width: calc(90% - 0px);
    margin: 0 auto;
}
.dsa-foo-sec .foo-address-box {
    text-align: center;
}
.dsa-foo-sec .foo-address-box p {
    font-size: 16px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Poppins";
    text-align: left;
    margin-top: 20px;
}
nav.foo-navbar .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-top: 1px solid #345344;
    padding-top: 10px;
    padding-bottom: 0px;
}
nav.foo-navbar .navbar-nav .nav-link {
    padding: 15px;
    font-size: 18px;
    line-height: 14px;
    color: #ffffff !important;
    font-weight: 400;
    font-family: "Poppins";
    text-transform: uppercase;
    transition: all 0.5s ease;
}
nav.foo-navbar .navbar-nav .active .nav-link {
    font-weight: 600 !important;
}

.cp-right-row {
    padding-top: 10px;
    padding-bottom: 10px;
}
.cp-right-row p {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Poppins";
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 1px;
}

/*media query laptop, tab & mobile here*/
@media (max-width: 1500px) {
    .dsa-banner-sec .dsa-content .dsa-title {
        font-size: 50px;
        line-height: 74px;
    }
    .mob-nav {
        display: none;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box .wht-space {
        height: 150px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box .cont {
        padding: 17px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box h3 {
        font-size: 24px;
    }
    .about-us-sec .custum-row {
        display: flex;
        align-items: center;
    }
    .cl-test .cl-suedo {
        font-size: 100px;
        top: -45px;
    }
}
@media (max-width: 1200px) {
    .dsa-banner-sec .dsa-content {
        padding-top: 0px;
        padding-bottom: 20px;
        width: calc(95% - 0px);
    }
    .dsa-banner-sec .cust-dsa-banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dsa-banner-sec .dsa-content .dsa-title {
        font-size: 40px;
        line-height: 55px;
    }
    .dsa-banner-sec .dsa-content p {
        font-size: 24px;
        line-height: 50px;
    }
    .dsa-banner-sec .dsa-content .dsa-sub-heading {
        font-size: 50px;
        line-height: 60px;
    }
    .dsa-why-choose h2 {
        font-size: 28px;
    }
    .dsa-why-choose p {
        font-size: 16px;
        line-height: 25px;
    }
    .dsa-why-choose ul li {
        font-size: 16px;
        line-height: 25px;
    }
    .dsa-why-choose ul li::before {
        font-size: 20px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box p {
        font-size: 16px;
        line-height: 27px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box .wht-space {
        height: 150px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box {
        min-height: 493px;
    }
    .pl-ayurvedic-treatment-sec .pl-tp-content h2 {
        font-size: 34px;
    }
    .pl-ayurvedic-treatment-sec .pl-tp-content p {
        width: 75%;
    }
    .pl-ayurvedic-treatment-sec .cst-boxies .treatment-box h3 {
        font-size: 24px;
    }
    .pl-ayurvedic-treatment-sec .cst-boxies .treatment-box p {
        font-size: 18px;
    }
    .about-us-sec .tp-abt-content h2 {
        font-size: 34px;
    }
    .about-us-sec .about-right-content p {
        font-size: 18px;
    }
    .dr-mukesh-sharda-sec p {
        font-size: 15px;
        line-height: 40px;
    }
    .our-product .cust-product .prod-box {
        padding: 20px;
    }
    .our-product .cust-product .prod-box .price .header {
        line-height: 25px;
        margin-bottom: 10px;
    }
    .testimonial-content h3 {
        font-size: 34px;
    }
    .testimonial-content p {
        font-size: 18px;
        line-height: 30px;
        width: 90%;
    }
    .get-in-touch-sec .custom-get p {
        font-size: 18px;
        width: 95%;
        margin-bottom: 0px;
    }
    .dsa-india-ayurvedic-sec .cust-iba {
        width: calc(90% - 0px);
        margin: 0 auto;
    }
    .dsa-why-choose .cut-row {
        width: calc(90% - 0px);
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 1100px) {
    .dsa-india-ayurvedic-sec .cust-iba .iba-box h3 {
        font-size: 20px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box h3 {
        font-size: 20px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box {
        min-height: 494px;
        padding: 20px;
    }
    .happy-world-sec .hw-content h2 {
        font-size: 50px;
    }
    .happy-world-sec .hw-content p {
        font-size: 28px;
    }
    .dr-mukesh-sharda-sec p {
        line-height: 30px;
    }
    .our-product .cust-product {
        width: calc(95% - 0px);
    }
    .latest-post-sec .lp-post {
        width: calc(94% - 0px);
    }
    .latest-post-sec .lp-post .post-content {
        padding: 20px;
    }
    .latest-post-sec .lp-post .post-content h3 {
        font-size: 20px;
        line-height: 30px;
    }
    .latest-post-sec .lp-post .post-content p {
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width: 991px) {
    .dsa-banner-sec .dsa-content .dsa-title {
        font-size: 30px;
        line-height: 45px;
    }
    .mob-nav {
        display: block;
    }

    .wrp .mz {
        width: 100%;
    }

    .wrp .moz {
        width: 100%;
    }

    .ima {
        height: auto;
    }
    .kmoz {
        float: none;
        width: 100%;
        height: auto;
    }

    .cvn {
        width: 100%;
    }

    .navbar-light .navbar-toggler {
        color: #fff !important;
        border-color: #fff !important;
        background: #fff;
        margin-top: 5px;
    }
    .navbar-menu .navbar {
        width: 30%;
    }
    .navbar-menu .dsa-phone {
        float: right;
    }

    .dsa-banner-sec .dsa-content .dsa-sub-heading {
        font-size: 30px;
        line-height: 40px;
    }
    .dsa-banner-sec .dsa-content p {
        font-size: 20px;
        line-height: 23px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box {
        min-height: 490px;
    }
    .pl-ayurvedic-treatment-sec .pl-tp-content p {
        line-height: 30px;
    }
    .pl-ayurvedic-treatment-sec .cst-boxies .treatment-box h3 {
        font-size: 20px;
    }
    .pl-ayurvedic-treatment-sec .cst-boxies .treatment-box p {
        font-size: 16px;
        line-height: 25px;
    }
    .happy-world-sec .hw-content h2 {
        font-size: 40px;
    }
    .happy-world-sec .hw-content p {
        font-size: 24px;
    }

    .dsa-banner-sec .cust-dsa-banner {
        width: calc(95% - 0px);
        margin: 0 auto;
    }
    .dsa-why-choose .cut-row,
    .latest-post-sec .lp-post {
        width: calc(100% - 0px);
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box p {
        font-size: 14px;
        line-height: 27px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box h3 {
        line-height: 30px;
    }
    .dsa-india-ayurvedic-sec .cust-iba {
        width: calc(100% - 0px);
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box .wht-space {
        height: 180px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box {
        min-height: 385px;
    }
    .our-product .cust-product .prod-box {
        width: calc(100% - 0px);
    }
    .client-testimonial .client-test-title {
        font-size: 34px;
    }
    .cl-test .cl-suedo {
        font-size: 65px;
        top: -21px;
    }
    .get-in-touch-sec .custom-get .email .email-icon,
    .get-in-touch-sec .custom-get .phone-icon {
        font-size: 15px;
    }
    nav.foo-navbar .navbar-nav .nav-link {
        padding: 10px;
    }
}

@media (max-width: 767px) {
    
    .dsa-banner-sec .cust-dsa-banner {
        width: calc(100% - 0px);
        margin: 0 auto;
    }
    .caso::after {
        background-color: transparent !important;
    }

    .xd:hover {
        background-image: linear-gradient(45deg, transparent, transparent);
    }
    .dsa-banner-sec .cust-dsa-banner {
        flex-wrap: wrap;
    }
    .dsa-banner-sec .right-img {
        text-align: center;
        margin-right: 0px;
        margin-left: 2px;
    }
    .dsa-banner-sec .cust-dsa-banner .col-md-6 {
        width: 50%;
    }
    .dsa-banner-sec .dsa-content .dsa-title br {
        display: none;
    }
    .dsa-banner-sec {
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .dsa-banner-sec .dsa-content .dsa-title {
        font-size: 24px;
        line-height: 30px;
    }
    .dsa-banner-sec .dsa-content .dsa-sub-heading {
        font-size: 24px;
        line-height: 30px;
    }
    .dsa-banner-sec .dsa-content {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .dsa-banner-sec .dsa-content .btn-banner .btn-appointment {
        font-size: 16px;
        width: 240px;
        height: 53px;
    }
    .dsa-why-choose {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .dsa-why-choose h2 {
        margin-top: 30px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box {
        min-height: auto;
        padding: 20px 20px;
        margin-bottom: 20px;
    }
    .dsa-india-ayurvedic-sec .cust-iba {
        width: calc(400px - 0px);
    }
    .dsa-india-ayurvedic-sec h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
        text-align: center;
        padding-left: 15px;
    }
    .dsa-india-ayurvedic-sec {
        padding-bottom: 50px;
    }
    .dsa-india-ayurvedic-sec .btn-ayurvedic {
        margin-top: 10px;
    }

    .dsa-india-ayurvedic-sec .btn-ayurvedic .btn-appointment {
        font-size: 16px;
        width: 230px;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box p {
        font-size: 16px;
        line-height: 25px;
    }
    .pl-ayurvedic-treatment-sec .pl-tp-content h2 {
        font-size: 24px;
        line-height: 35px;
    }
    .our-product .cust-product .prod-box {
        width: calc(400px - 0px);
        margin-bottom: 20px;
    }
    .testimonial-content h3 {
        font-size: 24px;
    }
    .get-in-touch-sec .custom-get h2 {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }
    .get-in-touch-sec .custom-get h2 {
        font-size: 24px;
        line-height: 55px;
        text-align: center;
    }
    .get-in-touch-sec .get-form {
        background: #fff;
        padding: 30px;
        margin-top: 30px;
    }
    .get-in-touch-sec .custom-get p {
        text-align: center;
    }
    .get-in-touch-sec .custom-get .email .email-icon,
    .get-in-touch-sec .custom-get .phone-icon {
        font-size: 16px;
    }
    .get-in-touch-sec .custom-get .email {
        padding-top: 15px;
        padding-bottom: 15px;
        /*width: 320px;*/
        margin: 0 auto;
    }
    .get-in-touch-sec .custom-get .phone {
        /*width: 320px;*/
        margin: 0 auto;
    }
    .get-in-touch-sec .custom-get .email .email-icon .fa-envelope,
    .get-in-touch-sec .custom-get .phone-icon .fa-phone {
        font-size: 32px;
        width: 55px;
        height: 55px;
        padding-top: 10px;
        margin-right: 5px;
        text-align: center;
    }
    .latest-post-sec {
        top: 0px;
        bottom: 0px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .get-in-touch-sec {
        padding-bottom: 50px;
    }
    .latest-post-sec .lp-post .post-content .ptn-post {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }
    .latest-post-sec .lp-post .post-content h3 {
        text-align: center;
    }
    .latest-post-sec .lp-post .post-content p,
    .our-product .cust-product .prod-box .price {
        text-align: center;
    }
    .heading1 .our-product .prod-tp-content h2 {
        font-size: 24px;
        line-height: 35px;
    }
    .dr-mukesh-sharda-sec .dr-img-left img {
        display: none;
    }
    .dr-mukesh-sharda-sec {
        padding-top: 50px;
        background-color: #f7f7f7;
    }
    .dr-mukesh-sharda-sec .cust-dr {
        width: calc(100% - 0px);
    }
    .dr-mukesh-sharda-sec .cust-dr {
        width: calc(100% - 0px);
        margin: 0 auto;
    }
    .client-testimonial .client-test-title {
        font-size: 24px;
    }
    .cl-test .cl-suedo {
        font-size: 41px;
        top: -5px;
    }
    .happy-world-sec .hw-content h2 {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .happy-world-sec .hw-content p {
        font-size: 16px;
    }
    .pl-ayurvedic-treatment-sec .pl-tp-content p {
        width: 94%;
    }
    .pl-ayurvedic-treatment-sec .cst-pl-row {
        width: calc(100% - 0px);
    }
    .pl-ayurvedic-treatment-sec .cst-boxies {
        margin-top: 40px;
        flex-wrap: wrap;
    }
    .pl-ayurvedic-treatment-sec .cst-boxies .treatment-box {
        width: 49.33%;
        margin-bottom: 20px;
    }
    .pl-ayurvedic-treatment-sec,
    .about-us-sec,
    .our-product,
    .client-testimonial {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .about-us-sec .tp-abt-content h2 {
        font-size: 24px;
    }
    .about-us-sec .tp-abt-content p {
        font-size: 16px;
    }
    .about-us-sec iframe {
        width: calc(100% - 0px);
    }
    .about-us-sec .about-right-content p {
        font-size: 14px;
        text-align: left;
    }
    .about-us-sec .about-right-content .btn-about {
        text-align: center;
    }
    .about-right-content {
        margin-top: 20px;
    }
    .about-us-sec .btn-about .btn-aboutus {
        width: 159px;
        height: 55px;
        font-size: 16px;
    }
    .about-us-sec .tp-abt-content h2 {
        font-size: 24px;
        line-height: 35px;
    }

    .dsa-why-choose .cut-row,
    .latest-post-sec .lp-post {
        margin-bottom: 20px;
    }
    .dsa-foo-sec .foo-social-icon {
        justify-content: center;
        width: calc(100% - 0px);
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .dsa-foo-sec .foo-address-box {
        text-align: center;
        margin-bottom: 30px;
    }
    nav.foo-navbar .navbar-nav {
        justify-content: center;
        flex-wrap: wrap;
    }
    .dsa-foo-sec .cp-right-row {
        padding-bottom: 20px;
    }
    .dsa-foo-sec .cust-address {
        padding-bottom: 0px;
        width: calc(95% - 0px);
    }

    .get-in-touch-sec .get-form h3{
        font-size: 27px;
    }
}

@media (max-width: 768px) {
    .dr-mukesh-sharda-sec .dr-img-left img {
        position: static;
    }

    .dsa-india-ayurvedic-sec .btn-ayurvedic .btn-appointment {
        margin-bottom: 20px;
    }

    .pl-ayurvedic-treatment-sec .pl-tp-content h2 {
        font-size: 31px;
    }

    .pl-ayurvedic-treatment-sec .cst-boxies .treatment-box h3 {
        font-size: 17px;
    }

    .pl-ayurvedic-treatment-sec .cst-boxies .treatment-box p {
        font-size: 14px;
    }

    .about-us-sec .tp-abt-content h2 {
        font-size: 31px;
    }

    .about-us-sec .about-right-content p {
        text-align: left;
    }

    .happy-world-sec .hw-content h2 {
        font-size: 27px;
    }

    .iba-box.box1 {
        border-radius: 0px;
    }

    .iba-box.box2 {
        border-radius: 0px;
    }

    .iba-box.box3 {
        border-radius: 0px;
    }

    .dsa-india-ayurvedic-sec .cust-iba .iba-box .cont {
        padding: 10px;
    }
    .dsa-india-ayurvedic-sec h2 {
        font-size: 31px;
    }

    .dsa-why-choose {
        padding-top: 48px;
        padding-bottom: 38px;
    }

    .dsa-india-ayurvedic-sec {
        padding-bottom: 2px;
    }

    .causes {
        padding-top: 59px;
    }

    .acc {
        text-align: center;
    }

    .apn {
        text-align: center;
    }

    .cvn {
        margin-top: 51px;
    }
    .cvn {
        padding-left: 20px;
    }
    .sym h3 {
        font-size: 31px;
        text-align: center;
        margin-bottom: 31px;
    }

    .mz h3 br {
        display: none;
    }

    .mz h3 {
        font-size: 31px;
        line-height: 33px;
    }

    .latest-post-sec .lp-post .post-content p {
        font-size: 14px;
    }

    .latest-post-sec .lp-post .post-content h3 {
        font-size: 21px;
        margin-bottom: 14px;
    }

    .get-in-touch-sec .custom-get .email .email-icon {
        font-size: 20px !important;
    }

    .get-in-touch-sec .custom-get .phone-icon {
        font-size: 20px !important;
    }

    .xd:hover {
        background-image: linear-gradient(45deg, transparent, transparent);
        min-height: auto;
    }
    .dsa-india-ayurvedic-sec .cust-iba .iba-box {
        min-height: auto !important;
    }

    .latest-post-sec .lp-post {
        border-radius: 0px;
    }
}

@media (max-width: 590px) {
    .dsa-banner-sec .dsa-content .dsa-sub-heading {
        font-size: 18px;
        line-height: 25px;
    }

    .serlisting li a {
        padding: 6px 6px;
        font-size: 13px;
    }

    .serlisting .ln {
        font-size: 13px;
    }
    .sym h3 {
        margin-top: 15px;
    }
    .sym h3 {
        font-size: 28px;
    }

    .acc {
        text-align: center;
    }
    .dsa-banner-sec .dsa-content .dsa-title {
        font-size: 18px;
        line-height: 25px;
    }
    .dsa-banner-sec .dsa-content p {
        font-size: 16px;
        line-height: 19px;
    }
    .dsa-banner-sec .dsa-content .btn-banner .btn-appointment {
        font-size: 12px;
        width: 160px;
        height: 42px;
    }
}
@media (max-width: 479px) {
    .dsa-why-choose h2 {
        font-size: 22px;
    }
    .our-product .cust-product .prod-box {
        width: calc(100% - 0px);
        margin-bottom: 20px;
    }
    .dsa-india-ayurvedic-sec .cust-iba {
        width: calc(100% - 0px);
    }
    .dsa-banner-sec .dsa-content .dsa-title {
        font-size: 12px;
        line-height: 19px;
    }
    .dsa-banner-sec .dsa-content .dsa-sub-heading {
        font-size: 14px;
        line-height: 14px;
    }
    .dsa-banner-sec .dsa-content p {
        font-size: 8px;
        line-height: 19px;
        margin-bottom: 0px;
    }
    .dsa-banner-sec .dsa-content .btn-banner .btn-appointment {
        font-size: 11px;
        width: 145px;
        height: 33px;
    }
    .dsa-banner-sec .dsa-content .btn-banner {
        margin-top: 4px;
    }
}

@media screen and (max-width: 414px) {
    .get-in-touch-sec .custom-get {
        width: calc(100% - 0px);
    }

    .about-us-sec .btn-about .btn-aboutus {
        width: 205px;
        height: 61px;
        border-radius: 3px;
    }

    .happy-world-sec .hw-content h2 {
        font-size: 31px;
    }

    .our-product .cust-product .prod-box .price {
        text-align: center;
    }

    .dsa-why-choose ul li {
        font-size: 14px;
    }

    .pl-ayurvedic-treatment-sec .pl-tp-content h2 {
        font-size: 23px;
    }

    .about-us-sec .tp-abt-content h2 {
        font-size: 24px;
    }
    /*9569601105*/

    .get-in-touch-sec .custom-get p {
        text-align: justify !important;
        line-height: 23px;
        font-size: 16px;
        margin-bottom: 14px;
    }

    .ser-heading {
        font-size: 31px;
    }

    .service small {
        font-size: 11px;
    }

    .service p {
        font-size: 24px;
    }

    .left-img {
        margin-bottom: -38px;
    }

    .dsa-why-choose h2 {
        font-size: 18px;
        text-align: center;
    }

    .dsa-why-choose p {
        font-size: 14px;
        text-align: left;
    }

    .crd a {
        font-size: 16px;
        border-radius: 3px;
        max-width: 221px;
        height: 53px;
    }

    .dsa-india-ayurvedic-sec h2 {
        font-size: 27px;
    }

    .dsa-india-ayurvedic-sec .btn-ayurvedic .btn-appointment {
        height: 51px;
        border-radius: 3px;
    }

    .causes {
        padding-top: 50px;
    }

    .prod-tp-content {
        margin-bottom: 70px;
    }

    .acc {
        padding-bottom: 0px;
    }

    .kmoz {
        margin-top: -41px;
    }

    .mz p {
        font-size: 14px;
    }
    .sym h3 {
        margin-top: 2px;
        font-size: 26px;
    }

    .client-testimonial {
        padding-top: 41px;
    }

    .client-testimonial .client-test-title {
        line-height: 26px;
    }

    .testimonial-content p {
        font-size: 15px;
        line-height: 26px;
    }

    .latest-post-sec .lp-content h2 {
        font-size: 29px;
    }

    .latest-post-sec .lp-content p {
        font-size: 14px;
    }

    .latest-post-sec .lp-content {
        margin-bottom: 7px;
    }

    .latest-post-sec .lp-post .post-content p {
        text-align: left;
    }

    .get-in-touch-sec .custom-get .email {
        padding-top: 9px;
    }

    .get-in-touch-sec .get-form #name {
        height: 49px;
        font-size: 15px;
    }
    .get-in-touch-sec .get-form .submit {
        border-radius: 3px;
        font-size: 24px;
        height: 55px;
    }

    .get-in-touch-sec .get-form #phone {
        height: 49px;
        font-size: 15px;
    }

    .get-in-touch-sec .get-form #email {
        height: 49px;
        font-size: 15px;
    }

    .get-in-touch-sec .get-form #story {
        font-size: 15px;
        height: 142px;
    }

    .moz iframe {
        height: 215px !important;
    }

    .get-in-touch-sec .custom-get .email .email-icon {
        font-size: 17px !important;
    }
    .consult-ico {
        font-size: 17px;
    }

    .get-in-touch-sec .custom-get .phone-icon {
        font-size: 17px !important;
    }

    .get-in-touch-sec {
        padding-top: 59px;
    }

    .wrp .mz {
        margin-top: -49px;
    }
    .mz h3 {
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #244236;
        font-weight: 600;
    }

    #accordion button.btn.btn-link.collapsed {
        padding: 9px;
        border-radius: 0px;
        /*border-bottom:1px solid #ccc;*/
    }

    .cvn {
        padding-left: 11px;
    }

    .moz iframe {
        height: auto;
    }
    .wrp .moz {
        height: auto;
        margin-top: 10px;
    }

    .dsa-india-ayurvedic-sec .cust-iba .iba-box .cont {
        padding: 3px;
    }

    iframe {
        height: 250px;
    }

    .get-in-touch-sec .get-form {
        padding: 15px;
    }
}

@media screen and (max-width: 360px) {
    .dsa-why-choose {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .latest-post-sec .lp-post .post-content h3 {
        font-size: 17px;
    }

    .pl-ayurvedic-treatment-sec .pl-tp-content h2 {
        font-size: 21px;
    }

    .pl-ayurvedic-treatment-sec .pl-tp-content p {
        text-align: initial;
    }

    .phone a {
        display: grid;
    }
}

@media screen and (max-width: 320px) {
    .get-in-touch-sec .custom-get .email {
        max-width: 320px !important;
    }
    .tp-abt-lh {
        line-height: 18px !important;
    }

    .dsa-banner-sec .dsa-content .btn-banner .btn-appointment {
        margin-bottom: 16px;
    }
    .dsa-india-ayurvedic-sec h2 {
        font-size: 24px;
    }
    .about-us-sec .tp-abt-content p {
        line-height: 10px;
    }

    .happy-world-sec .hw-content h2 {
        font-size: 27px;
    }

    .our-product .cust-product .prod-box .price .rate {
        font-size: 27px;
    }

    .our-product .cust-product .prod-box .price .btn-shop-know {
        font-size: 18px;
    }

    .ser-heading {
        font-size: 29px;
    }
    .service p {
        font-size: 26px;
    }

    .dsa-why-choose h2 {
        font-size: 17px;
        font-weight: 600;
        margin-top: 40px;
    }

    .sym h3 {
        font-size: 24px;
    }
    .sub {
        font-size: 15px;
    }

    .cvn p {
        padding-left: 26px;
    }

    .latest-post-sec .custom-lp {
        width: calc(100% - 0px);
    }

    .crd a {
        max-width: 300px;
        padding: 5px;
    }
}

@media (min-width: 1920px) {
    .dsa-india-ayurvedic-sec .cust-iba .iba-box .cont {
        padding: 30px;
    }
    .mob-nav {
        display: none;
    }

    .pl-tp-content {
        margin: auto;
    }
    .moz iframe {
        height: 371px;
    }
    .wrp .moz {
        height: 371px;
        margin-bottom: 20px;
    }
}

/* CSS Added By Mohit*/
.green-anchor{
    color: #244236;
    /*font-weight: 600;*/
}
.green-anchor :hover{
    color: #244236;
}
.ser-banner-sec {
    background-image: url(../images/service-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    max-width: 100%;
}
.ser-banner-sec .cust-ser-banner {
    width: calc(92% - 0px);
    margin: 0 auto;
}
.ser-banner-sec .ser-content {
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;
}
.ser-banner-sec .ser-content .ser-sub-heading {
    font-size: 40px;
    line-height: 83px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.ser-banner-sec .ser-content .ser-title {
    font-size: 30px;
    line-height: 83px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}
.ser-banner-sec .ser-content p {
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    line-height: 50px;
}

.ser-banner-sec .ser-content p:before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #fff;
    left: 410px;
    position: absolute;
    top: 19%;
}

.ser-banner-sec .ser-content p:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #fff;
    right: 0;
    position: absolute;
    right: 410px;
    top: 19%;
}

/* My Code */

.dsa-banner-sec2 {
    background-image: url(../images/service-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    max-width: 100%;
}
.dsa-banner-sec2 .cust-dsa-banner {
    width: calc(92% - 0px);
    margin: 0 auto;
}
.dsa-banner-sec2 .ser-content {
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: center;
}
.dsa-banner-sec2 .ser-content .ser-sub-heading {
    font-size: 40px;
    line-height: 83px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
}
.dsa-banner-sec2 .ser-content .ser-title {
    font-size: 30px;
    line-height: 83px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}
.dsa-banner-sec2 .ser-content p {
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Poppins";
    line-height: 50px;
}

.dsa-banner-sec2 .ser-content p:before {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #fff;
    left: 410px;
    position: absolute;
    top: 19%;
}

.dsa-banner-sec2 .ser-content p:after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: #fff;
    right: 0;
    position: absolute;
    right: 410px;
    top: 19%;
}

.page-breadcrumb .breadcrumb {
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 300;
    border: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
    display: inline-block;
}
.breadcrumb > li {
    display: inline-block;
}
.page-breadcrumb .breadcrumb > .active {
    color: #ff9000;
}
.page-breadcrumb .breadcrumb > li a {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
}
.page-breadcrumb .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #fff;
    content: "\f105";
    font: normal normal normal 12px/1 FontAwesome;
}

.ser-href .cust-ser-banner {
    width: calc(92% - 0px);
    margin: 0 auto;
}
.ser-href .cust-ser-href {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.ser-href-listing li {
    list-style: none;
    display: inline-block;
}
.ser-href-listing li a {
    color: #000;
    padding: 8px 11px;
    font-size: 17px;
    text-decoration: none;
}
.ser-href-listing .ln {
    color: #000;
}
.treatment {
    padding-top: 20px !important;
}
.treatment h2 {
    font-size: 33px !important;
}
.types .cust-iba .box1 {
    background-image: url(../images/type-of-asthma-1.webp) !important;
}
.types .cust-iba .box2 {
    background-image: url(../images/type-of-asthma-2.webp) !important;
}
.types .cust-iba .box3 {
    background-image: url(../images/type-of-asthma-3.webp) !important;
}

.types .cust-iba .iba-box p {
    color: #333 !important;
}
.types .cust-iba .iba-box h3 {
    color: #333;
}

.btn-ayurvedic .btn-appointment {
    font-size: 20px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    background-color: #e4a732;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #e4a732;
    width: 300px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.dsa-india-ayurvedic-sec .btn-ayurvedic {
    text-align: center;
    margin-top: 25px;
}
.appointment {
    background: #e4a732;
}

.appointment-title {
    color: #fff;
    text-align: right;
    /*text-transform: uppercase;*/
    margin-top: 2%;
}
.appointment .btn-appointment {
    text-align: left;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 2%;
    font-family: "Noto Sans", sans-serif;
    background-color: #e4a732;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    padding: 10px;
}
.ser-href .cust-appointment {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
.symptoms {
    padding-top: 5%;
    padding-bottom: 5%;
}
.symptoms h2 {
    color: #244236;
}

.card-header {
    margin-bottom: 8px !important;
    background-color: #e4a732 !important;
}

#accordion .card-body:before {
    height: 25px !important;
}

#accordion .btn-link,
#accordion1 .btn-link,
#accordion2 .btn-link,
#accordion3 .btn-link,
#accordion4 .btn-link,
#accordion5 .btn-link {
    color: #fff !important;
}

.pl-tp-content {
    margin: 0 auto;
}

.dsa-india-ayurvedic-sec .cust-iba .dib1 {
    background-image: url(../images/wbps.webp);
}

.dsa-india-ayurvedic-sec .cust-iba .dib2 {
    background-image: url(../images/wbps2.webp);
}

.dsa-india-ayurvedic-sec .cust-iba .psor1 {
    background-image: url(../images/psoraisess_2.webp);
}

.dsa-india-ayurvedic-sec .cust-iba .psor2 {
    background-image: url(../images/psoraises_3.webp);
}

.dsa-india-ayurvedic-sec .cust-iba .psor3 {
    background-image: url(../images/psoraises_4.webp);
}

.dsa-india-ayurvedic-sec .cust-iba .thyr1 {
    background-image: url(../images/thyroid2.webp);
}

.dsa-india-ayurvedic-sec .cust-iba .thyr2 {
    background-image: url(../images/thyroid3.webp);
}

.dsa-india-ayurvedic-sec .cust-iba .fattyliver1 {
    background-image: url(../images/alcoholic-fattyliver.webp);
}
.dsa-india-ayurvedic-sec .cust-iba .fattyliver2 {
    background-image: url(../images/nonalcoholic-fatty-liver-disease.webp);
}
.dsa-india-ayurvedic-sec .cust-iba .Insomnia1 {
    background-image: url(../images/primary-insomnia.webp);
}
.dsa-india-ayurvedic-sec .cust-iba .Insomnia2 {
    background-image: url(../images/secondary-insomnia.webp);
}
.dsa-india-ayurvedic-sec .cust-iba .rhinitis1 {
    background-image: url(../images/allergic-rhinitis.webp);
}
.dsa-india-ayurvedic-sec .cust-iba .rhinitis2 {
    background-image: url(../images/non-allergic-rhinitis.webp);
}
@media (min-width: 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: 0.3em solid transparent;
        border-right: 0;
        border-bottom: 0.3em solid transparent;
        border-left: 0.3em solid;
    }
    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu > li:hover {
        background-color: #f1f1f1;
    }
    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}
/* End CSS Added By Mohit*/
@media only screen and (max-width: 425px) {
    .list-1 {
        text-align: center;
    }
    .text-white {
        text-align: center;
    }
    .phone-consult {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 1024px) {
    .dr-img-center {
        text-align: center !important;
    }
    .adj-height {
        text-align: center !important;
        margin-top: 40px !important;
    }
}

@media only screen and (max-width: 768px) {
    .btn-about {
        text-align: center !important;
    }
}
.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}
.our-expert .col-md-3{
    display: inline-block;
    margin-left:-4px;
}
.our-expert .col-md-3 img{
    width:100%;
    height:auto;
}
body .our-expert .carousel-indicators li{
    background-color:#eeb03f;
}
body .our-expert .carousel-control-prev-icon,
body .our-expert .carousel-control-next-icon{
    background-color:#eeb03f;
}
.our-expert .tp-social-icon a i {
    font-size: 20px;
    color: #234336;
    border: 1px solid;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}
.abt-us .text-center{
    color: #FFF;
}
.heading1 {
  color:#234336;
  font-size: 40px;
  line-height: 55px;
  color: #244236;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
}
.heading1 {
    font-size: 2rem;
    line-height: 55px;
}
@media (min-width: 200px) {
    .heading1 {
        font-size: 1.5rem;
        line-height: 30px;
    }
}
@media (min-width: 400px) {
    .heading1 {
        font-size: 1.5rem;
        line-height: 30px;
    }
}
@media (min-width: 600px) {
    .heading1 {
        font-size: 2rem;
        line-height: 55px;
    }
}
@media (min-width: 800px) {
    .heading1 {
        font-size: 1.9rem;
        line-height: 55px;
    }
}
@media (min-width: 1000px) {
    .heading1 {
        font-size: 1.82rem;
        line-height: 55px;
        text-align: center;
    }
}
@media only screen and (max-width: 375px) {
    .sar-1 {
        margin-top: 40px imo !important;
    }
}

.cont
{
    color: #fff;
    padding: 10px;
}
